@import "./variables";

nav{
    position: fixed;
    width: 100%; 
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(253, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.0px );
    z-index: 999;
    transition: 0.7s ease-in-out;
    text-transform: uppercase;
    font-size: 1.2vw;
    color: $black-2;
    .logo {
        margin-left: 1rem;
        width: 3rem; height: 3rem;
    }    
    .nav-line {
        position: relative;
        width: 40vw;
        height: 5vh;
        transition: 0.7s ease-in-out; 
        overflow: hidden;
        display: flex;  
        flex-direction: column;
        p {
            font-family: $handwriting-text;
            font-size: 1.4vw;
            letter-spacing: 0.5vw;
            margin: auto;
            line-height: 5vh;
            animation: nav-text 7s ease-in-out 1s infinite forwards alternate;
            @keyframes nav-text {
            0% {transform: translateY(0vh);}
            50% {transform: translateY(-5vh);}
            100% {transform: translateY(-10vh);}
            }
        }
    }
    ul {
        display: flex;
        height: 100%;
        align-items: center;
        .active {
            a {
                border-bottom: 3px solid $black-2;
                padding-bottom: 1vh;
            }
        }
        li {
            list-style-type: none;
            margin-right: 4vw;
            a{
            color: $black;
            text-decoration-line: none;
            transition: 0.4s ease-in-out;
            }
        }
    }
    &:hover {
        background: rgba( 255, 216, 0, 0.85 );
        color: $black;
    } 
    .menu-btn {
        width: 25px;
        height: 25px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        span {
            width: 100%;
            height: 5px;
            background: $black-2;
            border-radius: 2.5px;
        }
    }
    .menu-exit-btn {
        width: 30px; height: 25px;
        justify-content: space-between;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        display: none;
        span {
            width: 100%;
            height: 5px;
            background: $black-2;
            position: absolute;
            &:nth-child(1){
                transform: rotate(45deg);
            }
            &:nth-child(2){
                transform: rotate(-45deg);
            }
        }
    }
} 

@media only screen and (max-width: 666px) {
    nav {
        ul {
            display: none;
            position: absolute;
            background: $transparent-yellow;
            top: 0; left: 0; right: 0; bottom: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            place-content: center;
            justify-content: space-evenly;
            transition: 0.7s ease-in-out;
            backdrop-filter: blur(10px);
            li{
                a{
                font-size: 5vw;
                font-weight: bolder;
                }
            }
        }
        .menu-btn {
            position: relative;
            display: flex;
            margin-right: 3rem;
            transition: 0.7s ease-in-out;
        }
        .menu-exit-btn {
            margin-right: 3rem;
            margin-top: 3vh;
            align-self: center;
            transition: 0.7s ease-in-out;
        }
        .logo {
            width: 5rem; height: 5rem;
            margin-left: 3rem;
        }
        .nav-line {
            width: 70%;
            p {
            font-size: 4vw;
            font-weight: bolder;
            }
        }
    }
} 