body {
  background-color: #FDFFFF;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.2vw;
  color: #0B0500;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

img {
  width: 100%;
  height: 100%;
}

/* NAV BAR START */
nav {
  position: fixed;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(253, 255, 255, 0.7);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  z-index: 999;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  text-transform: uppercase;
  font-size: 1.2vw;
  color: #333333;
}

nav .logo {
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
}

nav .logo:hover {
  border: 3px solid #00ac09;
  border-radius: 0.4rem;
}

nav .nav-line {
  position: relative;
  width: 40vw;
  height: 5vh;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .nav-line p {
  font-family: "Karla", sans-serif;
  font-size: 1.4vw;
  letter-spacing: 0.5vw;
  margin: auto;
  line-height: 5vh;
  -webkit-animation: nav-text 7s ease-in-out 1s infinite forwards alternate;
          animation: nav-text 7s ease-in-out 1s infinite forwards alternate;
}

@-webkit-keyframes nav-text {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  50% {
    -webkit-transform: translateY(-5vh);
            transform: translateY(-5vh);
  }
  100% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
}

@keyframes nav-text {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  50% {
    -webkit-transform: translateY(-5vh);
            transform: translateY(-5vh);
  }
  100% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin-right: 4vw;
}

nav ul li a {
  color: #0B0500;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

nav ul li a:hover {
  color: #0B0500;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

nav:hover {
  background: rgba(255, 216, 0, 0.85);
  color: #0B0500;
}

nav .menu-btn {
  width: 25px;
  height: 25px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .menu-btn span {
  width: 100%;
  height: 5px;
  background: #333333;
  border-radius: 2.5px;
}

@media only screen and (max-width: 666px) {
  nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav ul {
    display: none;
  }
  nav .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .logo {
    width: 5rem;
    height: 5rem;
  }
  nav .nav-line {
    width: 60vw;
  }
  nav .nav-line p {
    font-size: 2.2vw;
  }
}

/* NAV BAR END */
/* HOME PAGE SECTION start*/
#home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FDFFFF;
  z-index: 1;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
}

#home div {
  width: 50vw;
  position: relative;
  border-right: 1rem solid #ffd800;
  border-bottom: 1rem solid #ffd800;
}

header {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
}

header h1 {
  font-size: 6vw;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  letter-spacing: 1vw;
}

header h1 span img {
  width: 8vw;
  position: relative;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

header h2 {
  letter-spacing: 0.9rem;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  margin-top: 1rem;
  font-size: 1.5vw;
}

header a {
  margin: 5vh 9vw;
  background-color: #ffd800;
  padding: 2rem 5rem;
  border-radius: 48px;
  background: linear-gradient(145deg, #e4e6e6, #ffffff);
  -webkit-box-shadow: 12px 12px 24px #a2a3a3, -12px -12px 24px #ffffff;
          box-shadow: 12px 12px 24px #a2a3a3, -12px -12px 24px #ffffff;
  font-size: 1.4vw;
  font-weight: bold;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #333333;
}

header a:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #ffe700), to(#e6c200));
  background: linear-gradient(to top, #ffe700 5%, #e6c200 100%);
}

/* HOME PAGE SECTION end*/
/*ABOUT section start*/
#about {
  width: 100%;
  height: 100vh;
  background-color: #ffd800;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  color: #333333;
}

#about div {
  position: relative;
  height: 50vh;
  width: 25vw;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 4rem;
  cursor: default;
  overflow: hidden;
}

#about div:hover {
  -webkit-box-shadow: 10px 18px 32px 10px rgba(31, 38, 135, 0.37);
          box-shadow: 10px 18px 32px 10px rgba(31, 38, 135, 0.37);
}

#about div:nth-child(3) {
  padding: 1rem;
}

#about div:nth-child(1), #about div:nth-child(3) {
  background: #FDFFFF;
}

#about div:nth-child(2) {
  text-align: center;
  background: #ffd800;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: #333333;
}

#about div:nth-child(2):hover {
  background: rgba(253, 255, 255, 0.9);
}

#about div:nth-child(2) h1 {
  font-size: 3vw;
  margin-top: 2rem;
}

#about div:nth-child(2) p {
  padding: 1.5rem;
}

/*ABOUT section end*/
/*COURSES section start*/
#courses {
  position: relative;
  width: 100%;
  height: 200vh;
}

.courses-bg h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -111;
  font-size: 19vw;
  line-height: 200vh;
}

.courses {
  position: relative;
  width: 100%;
  height: 200vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  background: rgba(0, 192, 11, 0.8);
}

.course-card {
  position: relative;
  width: 20rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 3px 7px 40px 10px #00ac09;
          box-shadow: 3px 7px 40px 10px #00ac09;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 1rem;
}

.course-card:hover {
  -webkit-box-shadow: 3px 7px 40px 10px #FDFFFF;
          box-shadow: 3px 7px 40px 10px #FDFFFF;
}

.course-card div:nth-child(1) {
  width: 90%;
  height: 13rem;
  margin: 1rem auto;
}

.course-card div:nth-child(2) {
  width: 20rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
  position: absolute;
  -webkit-transform: translateY(13rem);
          transform: translateY(13rem);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-top: 1px solid #FDFFFF;
}

.course-card div:nth-child(2) h3 {
  font-size: 2vw;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  color: #FDFFFF;
}

.course-card div:nth-child(2) h4 {
  font-size: 1.8vw;
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
  color: #ffd800;
}

.course-card div:nth-child(2) p {
  font-size: 1.5vw;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  opacity: 0;
}

.course-card:hover div:nth-child(1) {
  opacity: 0.3;
}

.course-card:hover div:nth-child(2) {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: none;
}

.course-card:hover div:nth-child(2) p {
  opacity: 1;
}

/*COURSES section end*/
/* TEAM SECTION START*/
#team, .swiper-container {
  width: 100%;
  height: 100vh;
  background-color: #FDFFFF;
  position: relative;
  overflow-x: hidden;
}

.team-title {
  text-align: center;
  width: 100%;
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-title h1 {
  font-size: 3rem;
  border-left: 1vw solid #ffd800;
  border-right: 1vw solid #ffd800;
  padding: 0 1vw;
  color: #333333;
}

.team, .swiper-wrapper {
  position: relative;
  height: 78vh;
  width: 500rem;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team-card, .swiper-slide {
  position: relative;
  background: #ffd800;
  width: 20rem;
  height: 25rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 18px 10px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 10px 13px -7px #000000, 0px 0px 18px 10px rgba(0, 0, 0, 0.11);
  overflow: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  padding: 1rem;
  margin: 0 3rem;
}

.team-card .team-image, .swiper-slide .team-image {
  margin: 2rem auto;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.team-card .team-image img, .swiper-slide .team-image img {
  height: 15rem;
}

.team-card .team-header, .swiper-slide .team-header {
  text-align: center;
  width: 100%;
}

.team-card .team-header h1, .swiper-slide .team-header h1 {
  font-size: 1.6vw;
  font-weight: bolder;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.team-card .team-header h3, .swiper-slide .team-header h3 {
  font-size: 1.3vw;
  margin-top: 1rem;
  color: #6B654B;
}

.team-card .team-hover, .swiper-slide .team-hover {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.team-card:hover, .swiper-slide:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 23px 16px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 23px 16px rgba(0, 0, 0, 0.26);
}

.team-card:hover .team-hover, .swiper-slide:hover .team-hover {
  display: block;
}

.team-card:hover .team-info, .swiper-slide:hover .team-info {
  -webkit-transform: translateY(-13rem);
          transform: translateY(-13rem);
  opacity: 1;
}

.team-card:hover .team-header h3, .swiper-slide:hover .team-header h3 {
  display: none;
}

.team-card:hover .team-header h1, .swiper-slide:hover .team-header h1 {
  -webkit-transform: translateY(-13rem);
          transform: translateY(-13rem);
}

.team-card .team-info, .swiper-slide .team-info {
  color: #0B0500;
  font-size: 2rem;
  text-align: center;
  -webkit-transform: translateY(15rem);
          transform: translateY(15rem);
  opacity: 0;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  margin-top: 3rem;
  width: 100%;
  padding: 1rem;
}

.team-card .team-info p, .swiper-slide .team-info p {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

.team-card .team-info .team-card-icon, .swiper-slide .team-info .team-card-icon {
  width: 100%;
  margin: auto;
  color: #0B0500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5rem;
}

.team-card .team-info .team-card-icon a, .swiper-slide .team-info .team-card-icon a {
  width: 3rem;
  height: 3rem;
  border: 2px solid #0B0500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.team-card .team-info .team-card-icon a i, .swiper-slide .team-info .team-card-icon a i {
  font-size: 1.5rem;
  color: #0B0500;
}

.team-card .team-info .team-card-icon a:hover, .swiper-slide .team-info .team-card-icon a:hover {
  background: #0B0500;
}

.team-card .team-info .team-card-icon a:hover i, .swiper-slide .team-info .team-card-icon a:hover i {
  color: #ffd800;
}

/* TEAM SECTION END*/
/* TEAM SECTION START*/
#contact {
  width: 100%;
  height: 100vh;
  background: #ffd800;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#contact .contact {
  width: 80vw;
  height: 75vh;
  background: #FDFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px #333333;
          box-shadow: 0px 0px 20px #333333;
}

#contact .contact .left-contact {
  position: relative;
  padding-left: 10vw;
  padding-right: 40vw;
  padding-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact .left-contact h1 {
  font-size: 5vw;
}

#contact .contact .left-contact p {
  font-size: 1.4vw;
  margin-top: 2vh;
}

#contact .contact .left-contact input {
  margin-top: 2.5vh;
  width: 100%;
  height: 6vh;
  border: none;
  -webkit-box-shadow: 1px 1px 2px #333333;
          box-shadow: 1px 1px 2px #333333;
}

#contact .contact .left-contact input::-webkit-input-placeholder {
  color: #333333;
}

#contact .contact .left-contact input:-ms-input-placeholder {
  color: #333333;
}

#contact .contact .left-contact input::-ms-input-placeholder {
  color: #333333;
}

#contact .contact .left-contact input::placeholder {
  color: #333333;
}

#contact .contact .left-contact input[type="text"], #contact .contact .left-contact input[type="email"] {
  padding-left: 1rem;
}

#contact .contact .left-contact input[type="button"] {
  background: #333333;
  color: #FDFFFF;
  height: 10vh;
}

#contact .contact .left-contact input[type="button"]:hover {
  cursor: pointer;
}

#contact .contact .left-contact span {
  position: absolute;
  width: 4vw;
  height: 8vh;
}

#contact .contact .left-contact .yellow-box-1 {
  left: 2vw;
  top: 30vh;
  background: #333333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#contact .contact .left-contact .yellow-box-2 {
  left: 44vw;
  top: 6vh;
  z-index: 1;
  background: #ffd800;
}

#contact .contact .right-contact {
  position: absolute;
  right: -5vw;
  top: 10vh;
  height: 55vh;
  width: 40vw;
  background: #333333;
  -webkit-box-shadow: 14px 15px 50px #333333;
          box-shadow: 14px 15px 50px #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5vw;
}

#contact .contact .right-contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
}

#contact .contact .right-contact div i, #contact .contact .right-contact div p, #contact .contact .right-contact div h1 {
  color: #FDFFFF;
}

#contact .contact .right-contact div h1 {
  font-size: 4vw;
}

#contact .contact .right-contact div p {
  margin-left: 2vw;
}

/* TEAM SECTION END*/
footer {
  width: 100%;
  height: 30vh;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer h1 {
  font-size: 2vw;
  color: #0B0500;
}

footer div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer div a {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

footer div a:hover i {
  color: #FDFFFF;
}

footer div a i {
  font-size: 3vw;
}

footer p {
  color: #FDFFFF;
}

footer p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */