:root {
    --black: #0B0500;
    --yellow: #ffd800;
    --green: #00ac09;
    --white: #FDFFFF;
    --silver: #6B654B;
    --maintext: 'Sora', sans-serif;
    --transparent-yellow: rgba(255,	216,	0, 0.9);
}
body {
    background-color: var(--white);
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--maintext);
    box-sizing: border-box;
    font-size: 1.2rem;
    color: var(--black);
    scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
a {
    text-decoration-line: none;
}
img {
    width: 100%;
    height: 100%;
}
section {
    width: 100%;
    height: 100vh;
}
/* NAV BAR */
nav{
    width: 100%; 
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background: rgba(253, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
    position: fixed;
    z-index: 999;
    transition: 0.7s ease-in-out;
    text-transform: uppercase;
}
nav:hover {
    background: rgba( 255, 216, 0, 0.65 );  
}
.logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    width: 3rem; height: 3rem;
}

nav a{
    color: var(--black);
}
ul {
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
li {
    list-style-type: none;
    margin-right: 2rem;
}

/* HOME PAGE SECTION*/
#home {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    background-color: var(--white);
    z-index: 1;
}
.home-image {
    width: 60%;
    height: auto;
    position: absolute;
    right: 1rem; top: 10vh;
}
header {
    width: 40%;
    height: 60vh;
    margin-top: 25vh; 
    text-align: center;
    position: relative;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
}
header h1 {
    font-size: 5rem;
    transition: 0.4s ease-in;
    letter-spacing: 0.5rem;
}
header h2 {
    letter-spacing: 0.9rem;
    transition: 0.4s ease-in;
    margin-top: 2rem;
}
header h1 span img{
    width: 5rem;
    position: relative;
    transform: translateY(1rem);
}
header h1:hover {
    color: var(--yellow);
}
header a {
    margin: auto 5rem;
    background-color: var(--yellow);
    padding: 2rem;
    border-radius: 48px;
    background: linear-gradient(145deg, #e4e6e6, #ffffff);
    box-shadow:  12px 12px 24px #a2a3a3, 
             -12px -12px 24px #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    transition: 2s ease-in-out;
}

header a:hover {
    background: linear-gradient(145deg, #ffe700, #e6c200);
}


/*ABOUT section start*/
#about {
    width: 100%;
    height: 100vh;
    background-color: var(--yellow);
}
.about-image {
    width: 45%;
    height: 80vh;
    background: var(--white);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
    transform: translate(10%, 10vh);
    border-radius: 4rem;
}
/*ABOUT section end*/

/*COURSES section start*/
#courses {
    text-align: center;
    background: var(--white);
}
#courses h1 {
    font-size: 3rem;
}
.courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
}
/*COURSES section end*/